* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --anton: "Anton", sans-serif;
  --poppins: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: auto;
  background: linear-gradient(45deg, #422a60, #b583cf, #885d9d);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
  width: 95%;
  height: 95%;
  margin: 10px auto;
  background-color: #422a60;
  border-radius: 20px;
  box-shadow: 25px 25px 25px #201728;
}

/* sign up header  */
.signup-header {
  width: 100%;
  padding: 9px 6px;
}

.signup-header .title {
  font-family: var(--anton);
  font-size: 1.5rem;
  text-align: center;
  background: -webkit-linear-gradient(5deg, #c6a5dc, #f9edff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.signup-header .signup-name {
  font-family: var(--poppins);
  font-weight: bold;
  font-size: 1rem;
  color: #e2c8b7;
  text-align: center;
}
/* sign up form  */
.signup-form {
  width: 100%;
  padding: 10px 15px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  gap: 10px;
}

.signup-form label {
  display: block;
  font-size: 1rem;
}

.input-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-form label,
.signup-form .input-err-msg {
  font-family: var(--poppins);
  font-weight: 500;
  color: #d7b59f;
  font-size: 0.95rem;
  margin: 6px 0;
}

.input-info {
  position: relative;
  border: none;
  outline: none;
  color: #b8aff4;
  background-color: transparent;
  cursor: pointer;
}

.input-info span {
  position: absolute;
  right: 100%;
  width: 180px;
  background-color: #2d2d2d;
  color: white;
  font-family: var(--poppins);
  font-size: 0.6rem;
  text-align: start;
  padding: 5px;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  scale: 0;
  transition: all 1s;
  z-index: 100;
}

.input-info:hover span {
  visibility: visible;
  opacity: 1;
  scale: 1;
}

.input-info span ul li {
  list-style-position: inside;
}

.signup-form .input-err-msg {
  font-size: 0.7rem;
}

.signup-form input {
  width: 100%;
  min-height: 30px;
  background: linear-gradient(10deg, #422a60, #b77ee8);
  color: #fff;
  border: none;
  outline: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #000;
  padding: 3px 8px;
}

.signup-form input::placeholder {
  color: #f4f4f4;
  font-family: var(--poppins);
  font-size: 0.6rem;
}

.signup-form input:invalid {
  outline: 1px solid #f80000;
}

.signup-form input:focus {
  box-shadow: 2px 2px 2px inset #000000;
  background: #141414;
  outline: 1px solid #9e03ff;
}

#password {
  padding-right: 30px;
}

.password-input-box {
  position: relative;
}

.password-input-box i {
  position: absolute;
  right: 5px;
  top: 8px;
  z-index: 1;
  font-size: 0.89rem;
  color: white;
  cursor: pointer;
}

.password-input-box .close {
  display: none;
}

.password-strength-generate {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.generate-pass-btn {
  background: linear-gradient(10deg, #422a60, #b77ee8);
  padding: 6px 10px;
  border: none;
  outline: none;
  box-shadow: 2px 2px 2px #000;
  border-radius: 10px;
  color: #fff;
  font-family: var(--poppins);
  font-size: 0.8rem;
  font-weight: semibold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: all 1s;
}

.generate-pass-btn:hover {
  box-shadow: none;
}

.strength-indicator {
  flex-grow: 1;
}

.indicator {
  display: flex;
  justify-content: start;
  align-items: center;
}

.indicator > div {
  width: 33%;
  height: 4px;
  background-color: #fff;
  border-radius: 20px;
}

.indicator .indicator-low {
  background-color: rgb(244, 4, 4);
  visibility: hidden;
}

.indicator .indicator-medium {
  background-color: rgb(235, 204, 103);
  visibility: hidden;
}

.indicator .indicator-high {
  background-color: rgb(31, 223, 66);
  visibility: hidden;
}

.indicator-text {
  color: #d7b59f;
  font-family: var(--anton);
  font-size: 0.8rem;
  text-align: center;
  margin-top: 5px;
  visibility: hidden;
}

/* sign up success part  */
.signup-success {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: calc(100vh - 220px);
}

.signup-success img {
  width: 20vw;
  animation: successImgAnimation 1s linear infinite;
}

@keyframes successImgAnimation {
  50% {
    scale: 1.2;
  }
}

.signup-success-message {
  font-family: var(--poppins);
  font-weight: 600;
  font-size: 1.1rem;
  color: #d7b59f;
  margin-top: 6px;
}

/* sign up footer  */
.signup-footer {
  width: 100%;
  margin: 40px 0;
}

.before-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 7px;
}

.after-signup {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.signup-footer p {
  color: #d7b59f;
  font-family: var(--poppins);
  font-size: 0.8rem;
  margin: 5px 0;
}

.signup-footer button {
  font-family: var(--poppins);
  font-size: 0.9rem;
  font-weight: bold;
  background: linear-gradient(10deg, #422a60, #b77ee8);
  color: #f4d3be;
  padding: 7px 20px;
  border: 0;
  outline: 0;
  box-shadow: 2px 2px 2px #000;
  width: 70%;
  border-radius: 20px;
  cursor: pointer;
  transition: all 1s;
}

.signup-footer button:hover {
  box-shadow: none;
}

.signup-btn i,
.go-back-btn i {
  margin-left: 3px;
}

.signup-footer .signup-linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}

.signup-linkedin img {
  width: 6vw;
  object-fit: contain;
  filter: drop-shadow(2px 2px 2px rgb(23, 22, 22));
}

.signup-linkedin .signup-linkedin-text {
  color: #f4d3be;
  font-size: 0.8rem;
}

.hide {
  visibility: hidden;
  opacity: 0;
  scale: 0;
}

.show {
  visibility: visible;
  opacity: 1;
  scale: 1;
}

button:hover {
  scale: 1.05;
}

@media (min-width: 360px) {
  .signup-header .title {
    font-size: 2rem;
  }
  .signup-header .signup-name {
    font-size: 1.28rem;
  }
}

@media (min-width: 768px) {
  body {
    height: 100vh;
  }

  .signup-container {
    width: 80%;
  }

  .signup-header {
    height: 15%;
  }
  .signup-form {
    height: 60%;
    grid-template-columns: repeat(2, 1fr);
  }

  .signup-success {
    height: calc(100vh - 40%);
  }

  .signup-success img {
    width: 6vw;
  }

  .signup-form label {
    font-size: 0.82rem;
  }

  .signup-footer {
    height: 15%;
    margin: 0;
  }
  .signup-linkedin img {
    width: 4vw;
  }
}
@media (min-width: 992px) {
  .signup-container {
    width: 45%;
  }

  .signup-linkedin img {
    width: 2vw;
  }
}
